body {
    margin: 0px;
    font-family: Georgia;
    background-image: url('background.jpg');
}

#flex-container {
    display: flex;
    flex-flow: row wrap;
}

#menu, #main1, #main2 {
    background-color: aquamarine;
    border: 1px solid;
    border-radius: 12px;
    margin: 5px;
    padding: 20px;
}

#menu {
    order: 0;
    height: 100%;
    width: 300px;
}

#main1 {
    order: 1;
    height: 100%;
    width: 35%;
}

#main2 {
    order: 2;
    height: 100%;
    width: 35%;
}

#main1 img {
    float:right; /*make the photo being right of the text*/
    margin-right: 10px;;
}

#main2 img {
    float:right; /*make the photo being right of the text*/
    margin-right: 10px;;
}